html,
body,
.form-wrap {
  height: 100%;
}

.form-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  max-width: 550px;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  background: #eee;

  .field {
    display: flex;
    flex-direction: column;

    .input {
      border-radius: 3px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &__inner {
      margin-top: 10px;

      input[type=checkbox] {
        display: none;

        & + label {
          position: relative;
          margin-right: 20px;
        }

        & + label:before {
          content: '';
          border: 2px solid #313861;
          background-color: #fff;
          display: inline-block;
          top: -5px;
          height: 18px;
          width: 18px;
          margin-right: 10px;
          vertical-align: middle;
        }

        &:checked + label:after {
          content: '';
          position: absolute;
          left: 4px;
          top: 30%;
          transform: rotate(-45deg);
          width: 11px;
          height: 7px;
          border-left: 2px solid #313861;
          border-bottom: 2px solid #313861;
        }
      }

      input[type=radio] {
        margin-right: 20px;
      }
    }

    &.set {
      padding: 15px 0 0;
    }

    &.message {
      padding: 15px 0 0;
    }

    textarea {
      min-height: 100px;
      border-radius: 3px;
    }
  }

  .submit-btn {
    padding: 7px 30px;

    &:hover {
      opacity: 0.7;
    }
  }
}
