<form action="#" class="form">

  <div class="field">
    <label class="label" for="name">Name:</label>
    <input class="input" type="text" id="name" name="name" placeholder="Name" required>
  </div>

  <div class="field">
    <label class="label" for="email">Email:</label>
    <input class="input" type="email" id="email" name="email" placeholder="Email" required>
  </div>

  <div class="field">
    <label class="label" for="password">Password (at least 4 symbols):</label>
    <input class="input" type="password" id="password" name="password" placeholder="Password" required minlength="4">
  </div>

  <div class="field">
    <label class="label" for="confirm-password">Confirm password:</label>
    <input class="input" type="password" id="confirm-password" name="confirm-password" placeholder="Confirm password" required minlength="4">
  </div>

  <div class="field">
    <label class="label" for="tel">Tel:</label>
    <input class="input" type="tel" id="tel" name="tel" placeholder="Telephone" required>
  </div>

  <div class="field set">
    <span class="label">Checkbox description</span>
    <div class="field__inner">
      <input type="checkbox" id="check-1" name="check">
      <label for="check-1">Checkbox-1</label>
      <input type="checkbox" id="check-2" name="check">
      <label for="check-2">Checkbox-2</label>
      <input type="checkbox" id="check-3" name="check">
      <label for="check-3">Checkbox-3</label>
    </div>
  </div>

  <div class="field set">
    <span class="label">Radio buttons description</span>
    <div class="field__inner">
      <label for="radio-1">Radio-1:</label>
      <input type="radio" id="radio-1" name="radio" required>
      <label for="radio-2">Radio-2:</label>
      <input type="radio" id="radio-2" name="radio" required>
      <label for="radio-3">Radio-3:</label>
      <input type="radio" id="radio-3" name="radio" required>
    </div>
  </div>

  <div class="field message">
    <label class="label" for="message">Message:</label>
    <textarea class="input-field" name="message" id="message" placeholder="Message" required></textarea>
  </div>

  <button class="submit-btn">Submit</button>
</form>
